* {
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    font-family: sans-serif, Arial, Helvetica;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.title {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.left-title {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;
}

.right-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.title-img {
    width: 300px;
    height: auto;
}

button {
    background-color: #3882f6;
    color:white;
    width: 100px;
    height: 30px;
    border-radius: 12px;
}

.header-img {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
}



.header-links{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.header-links
a {
    text-decoration: none;
    color: white;
}

.header-links a:hover {
    color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

.rando-info {
    background-color: white;
}

.sign-up {
    background-color: white;
}

.rando-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
    justify-content: space-between;
}

.rando-img {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.rando-img 
img {
    width: 125px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.img-holder {
    position: relative;
    margin: 5px;
    align-self: flex-start;
    justify-content: space-between;
    display: flex;
}

.img-holder p {
    position: absolute;
    bottom: 10px;
    transform: translateY(+110%);
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 14px;
  }

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
}
.quote p {
    font-size: 20px;
    text-align: center;
    align-items: flex-start;

}

.quote .author {
    font-weight: bold;
}

.quote
.author  {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: large;
    font-style: normal;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
}