* {
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    font-family: sans-serif, Arial, Helvetica;
}

.header {
    background-color: #1F2937;
    color: #fff;
}

.title {
    background-color: #1F2937;
}

.rando-info {
    background-color: white;
}

button {
    background-color: #3882f6;
    color:white;
}
