* {
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    font-family: sans-serif, Arial, Helvetica;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.title {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.left-title {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.rando-info {
    background-color: white;
}

button {
    background-color: #3882f6;
    color:white;
    width: 100px;
    height: 30px;

}

.header-img {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
}

.title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
}

.header-links{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.header-links
a {
    text-decoration: none;
    color: white;
}

.header-links a:hover {
    color: #3882f6;
}

.rando-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}


.rando-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
}



.quote {
    background-color: #e5e7eb;
}